.ternaryOperator, .TheUseOfEffect, .TheUseOfRef, .todolist, .add{
  display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;

}

/* todolist in task file */
.task{
  margin: 10px auto 0 auto;
  font-size: 10px;
  width: 300px;
  height: 100px;
  border: 1px solid black;
  text-align: center;
}

.btnOfName{
  margin: 20px;
}


.form{
  margin-left: 30%;
  padding: 2px;
  background-color: rgb(118, 108, 127);
  width: 30%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.login{
  margin-top: 2px;
  color: rgb(82, 75, 75);
}

.input{
  width: 90%;
  height: 30px;
  margin: 5px;
}

.submit{
  background-color: rgb(212, 101, 101);
  width: 60%;
  height: 30px;
  margin: 5px;
}